
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.bootstrap-growl.min.js"></script>
    <script src="https://kit.fontawesome.com/35cace11a1.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
    <style>
        .field-validation-error, .validation-summary-errors, .field-validation-valid {
            color: red;
        }
        nav, header {
            background-color: #696969;
            padding: 5px;
            width: 100%;
        }

        .ul-style {
            list-style-type: none;
            padding-left: 5px;
        }

        .li-style {
            display: inline;
            margin-right: 20px;
        }

        .pack-right {
            float: right;
        }


        .img-style {
            position: relative;
            bottom: 16px;
            left: 2px;
            border-radius: 50%;
        }
        a:hover{
            
        }
    </style>
</head>
<body>
    @if (User.Identity.IsAuthenticated == true)
    {
    <header>
        @if (User.IsInRole("HR"))
        {
            <h1 class="text-white">HR Manager</h1>
        }
        else if (User.IsInRole("PM"))
        {
            <h1 class="text-white">Project Manager</h1>
        }
        else if (User.IsInRole("Employee"))
        {
            <h1 class="text-white">Employee</h1>
        }
            <nav>
                <ul class="ul-style">
                    <li class="li-style"><a class="text-white " href="/account/profile">Home</a></li>
                    @if (User.IsInRole("Employee"))
                    {
                        <li class="li-style"> <a class="text-white" href="/employee/Leave/show">Leave</a></li>
                    }
                    else if (User.IsInRole("PM"))
                    {
                        <li class="li-style"><a class="text-white" href="/PM/Leave/show">Leave</a></li>
                    }
                    else if (User.IsInRole("HR"))
                    {
                        <li class="li-style"><a class="text-white" href="/HR/Employee/show">Employee</a></li>
                        if ((bool)Session["SpecialPermission"])
                        {
                            <li class="li-style"><a class="text-white" href="/HR/Leave/show">Leave</a></li>
                        }
                    }
                    <li class="pack-right li-style"><a class="text-white" href="/account/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <li class="pack-right li-style">
                        @if (Session["CurrentUserImage"] != null)
                        {
                            <img class="img-style" src="data:image/png;base64,@Session["CurrentUserImage"]" width="50" height="50" />
                        }
                        else
                        {
                            <img class="img-style" src="https://i.pinimg.com/originals/19/b8/d6/19b8d6e9b13eef23ec9c746968bb88b1.jpg" width="50" height="50" />
                        }
                    </li>
                    <li class="pack-right text-white li-style ">Hello,@Session["CurrentUserName"]</li>
                    <li class="pack-right li-style">
                        @{
                            var Employees = (List<LeaveManagement.ViewModel.Employee.EmployeeViewModel>)Session["Employee"];
                        }
                        <select type="text" class="form-control" id="SearchByNames" name="Id">
                            <option value="">Search by names</option>
                            @foreach (var item in Employees)
                            {
                                <option value="@item.Id">@item.EmployeeName</option>
                            }
                        </select>
                    </li>
                    <li class="pack-right li-style">
                        <select type="text" class="form-control" id="SearchByRoles" name="Role">
                            <option value="">Search by roles</option>
                            <option value="Employee">Employee</option>
                            <option value="PM">Project Manager</option>
                            <option value="HR">HR</option>
                        </select>
                    </li>
                </ul>
            </nav>
    </header>
    }
        <div class="container-fluid">
            @RenderBody()
        </div>
    </body>
</html>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#SearchByRoles").change(function () {
            window.location.replace("/home/SearchByRole?Role=" + $("#SearchByRoles").val());
        })
        $("#SearchByNames").change(function () {
            window.location.replace("/home/SearchByName?Id=" + $("#SearchByNames").val());
        })
    });
</script>

