<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/35cace11a1.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
    <style>
        .field-validation-error, .validation-summary-errors, .field-validation-valid {
            color: red;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/account/profile">Home</a></li>
            @if (User.Identity.IsAuthenticated == false)
            {

                <li class="nav-item"><a class="nav-link" href="/account/login">Login</a></li>
            }
            @if (User.Identity.IsAuthenticated == true)
            {
                if (User.IsInRole("Emplyee"))
                {
                    <li class="nav-item"><a class="nav-link" href="/emplyee/Leave/show">Leave</a></li>
                }
                else if (User.IsInRole("PM"))
                {
                    <li class="nav-item"><a class="nav-link" href="/PM/Leave/show">Leave</a></li>
                }
                else if (User.IsInRole("HR"))
                {
                    <li class="nav-item"><a class="nav-link" href="/HR/Employee/show">Employee</a></li>
                }
                <li class="nav-item"><a class="nav-link" href="/account/logout">Logout</a></li>
            }
        </ul>

        @if (User.Identity.IsAuthenticated == true)
        {
            <div class="text-white">
                Welcome to, @User.Identity.Name
            </div>
        }
    <form class="form-inline my-2 my-lg-0" action="/home/SearchByRoles">
        <label for="SearchByRoles" class="mr-1">Search by Roles</label>
        <select type="text" class="form-control" id="SearchByRoles" name="SearchByRoles">
            <option value="">Please select</option>
            <option value="Employee">Employee</option>
            <option value="PM">Project Manager</option>
            <option value="HR">HR</option>
        </select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
